
#play1 {

    color: blue;
    background-color: crimson;
    padding: 30px 100px 50px 50px;

}

.play2 {
    color: brown;
    /* font-size: 100px; */
}

h2 {
    color: burlywood;
}